<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>
.container {
    display : flex;
    margin : 0;
}
</style>
<body>
<div class="container">
{% include 'admin/component/sideBar.html.twig' %}
{% include 'admin/component/main.html.twig' %}
</div>
</body>
</html>
