<!DOCTYPE html>
<html>
<head>
</head>
<style>
.header {
    margin-left : 260px ;
    height : 200px ; 
    width : 100%;
    background : #144272 ;
}
</style>
<body>
<div class="header">
<h1>Dashboard</h1>
</div>
</body>
</html>